
@{
    ViewData["Title"] = "Add new Duck";
}

<h1>Add a new Duck</h1>

@if (ViewData["Added"] == null)
{
<form method="post">
    <label>Name</label>
    <input type="text" name="name" />
    <br />

    <label>Color</label>
    <input type="text" name="color" />
    <br />

    <label>Catchphrase</label>
    <input type="text" name="catchphrase" />
    <br />

    <input class="btn btn-primary" type="submit" value="Add Duck" />
</form>
}
else
{
    <div class="alert alert-success">
    @ViewData["Added"]
    </div>
}
