@model Duck
@{
    ViewData["Title"] = "AddWithBinding";
}

<h1>Add With Modelbinding</h1>

@if (ViewData["Message"] == null)
{
    <form method="post">
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
        <br />

        <label asp-for="Color"></label>
        <input asp-for="Color"/>
        <span asp-validation-for="Color"></span>
        <br />

        <label asp-for="CatchPhrase"></label>
        <input asp-for="CatchPhrase"/>
        <span asp-validation-for="CatchPhrase"></span>
        <br />

        <input class="btn btn-primary" type="submit" value="Add Duck" />
    </form>
}
else
{
    <div class="alert alert-success">
        @ViewData["Message"]
    </div>
}
